{% extends 'bases/base.html' %}

{% load static %}

{% block content %}
<div class="container mt-3">
<div class="row">
    {% for category in object_list %}
         <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    </h4>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}